@font-face {
    font-family: "Vinci-Rounded";
    src: url(./vinci_rounded_bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Vinci-Rounded";
    src: url(./vinci_rounded_light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Vinci-Rounded";
    src: url(./vinci_rounded_regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Vinci";
    src: url(./vinci_sans_black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Vinci";
    src: url(./vinci_sans_bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Vinci";
    src: url(./vinci_sans_bold_italic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Vinci";
    src: url(./vinci_sans_extra_light.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Vinci";
    src: url(./vinci_sans_italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Vinci";
    src: url(./vinci_sans_light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Vinci";
    src: url(./vinci_sans_light_italic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Vinci";
    src: url(./vinci_sans_medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Vinci";
    src: url(./vinci_sans_regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}